* {
    box-sizing: border-box;
    background-color: skyblue;
    border-collapse: collapse;
}

body {
    width: 50%;
    margin: 20% auto;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 98px;
    font-size : 3.3vw;
    padding: 5px;
    text-align: right;
    word-wrap: break-word;
    overflow: hidden;
}

#btnClr {
    background-color: red;
    color: white;
}
#btnEql {
    background-color: darkgreen;
    color: white;
}

#btnSum, #btnSub, #btnMul, #btnDiv {
    background-color: black;
    color:red;
}

.buttonClass {
    width: 25%;
    height: 76px;
    font-size: 36px;
    margin: 0px;
    float: left;
    background-color: peru;
    color: white;
    outline: none;
    border: solid gray;
}

span {
    background-color: lightgray;
}